Data/EUR_human_20160622.allChr.mask.bed
Data/full_sfs.tsv/
Data/full_sfs.tsv.gz
Data/temp*
Data/poly.*
Data/mask.bisnp.EUR.1kGP.chr*
Data/vep.bisnp.EUR.1kGP.chr*
sample_size_demography/Simulations/lynch_singletons/*/*.vcf
*.vcf
Simulations/simple_simulations/TwoEpochContraction_*_*/
Simulations/simple_simulations/TwoEpochExpansion_*_*/
Simulations/simple_simulations/ThreeEpochContraction_*_*/
Simulations/simple_simulations/ThreeEpochExpansion_*_*/
Simulations/simple_simulations/ThreeEpochBottleneck_*_*/
